body {
    background-color: #5D5656;
    color: white;
    font-family: 'Lobster', cursive;
}

h1 {
    color: white;
    margin-top: 5%;
    margin-left: 15%;
}

.substr {
    margin-left: 17%;
}

.name{
    margin-left: 5%;
}

img {
    width: 29%;
    margin: 0 0;
}

.wide {
    width: 70%;
    margin: 3% 15%;
}

.first {
    margin-left: 5%;
}

.last {
    margin-right: 5%;
}