body {
    background-color: #5D5656;
    color: white;
    font-family: 'Lobster', cursive;
}

h1 {
    color: white;
    margin: 5% 17%;
}

.substr {
    margin-left: 27%;
    margin-right: 27%;
}

.name{
    margin-left: 4%;
    margin-right: 4%;
}

img {
    width: 29%;
    margin: 0 0;
}

.wide {
    width: 70%;
    margin: 3% 15%;
}

.first {
    margin-left: 5%;
}

.last {
    margin-right: 5%;
}